html{
	background-image: url(images/background.png);
    background-color: #f4f4f4;
}
body{
    box-shadow: 0 0 2px #dbdbdb, 0 0 .1px #dbdbdb;
    background-color: white;
    margin: 3% 15%;
    max-height: 100%;
}
div#logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    grid-template-areas: 
        "a b ."
        "a c ."
        ". . .";
}
div#logo :nth-child(1){
    grid-area: a;
    margin-top: 25px;
    margin-left: 35px;
    padding-right: 5px;
}
div#logo :nth-child(2){
    grid-area: b;
    width: min-content;
    margin-top:25px;
    margin-bottom: 0;
    font-family: 'Kreon', Arial, sans-serif;
}
div#logo :nth-child(3){
    grid-area: c;
    width: 210px;
    margin: 0;
    margin-top: -10px;
    font-family:'Kreon', Arial, sans-serif;
    font-size: small;
    color: #7BA1A9;
}