html{
	background-image: url(images/background.png);
    background-color: #f4f4f4;
}
body{
    box-shadow: 0 0 2px #dbdbdb, 0 0 .1px #dbdbdb;
    background-color: white;
    margin: 3% 15%;
    max-height: 100%;
}

/* fonts */
@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/droidsans_regular.woff') format('woff'),
         url('fonts/droidsans_blod.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreon';
    src: url('fonts/kreon_regular.woff') format('woff'),
         url('fonts/kreon_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Fin fonts */

/* Logo principal */
div#logo{
    display: grid;
    grid-area: e;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    grid-template-areas:
        "a b ."
        "a c ."
        ". . .";
}
div#logo :nth-child(1){
    grid-area: a;
    margin-top: 25px;
    margin-left: 35px;
    padding-right: 5px;
}
div#logo :nth-child(2){
    grid-area: b;
    width: min-content;
    margin-top:25px;
    margin-bottom: 0;
    font-family: 'Droid Sans',Arial,Verdana,sans-serif;
    font-weight: normal;
}
div#logo :nth-child(3){
    grid-area: c;
    width: 210px;
    margin: 0;
    margin-top: -10px;
    font-family:'Droid Sans',Arial,Verdana,sans-serif;
    font-size:14px;
    color: #4496a7;
    font-weight: normal;
}
/* Fin Logo principal */

/* La navigation principale */
header{
    display: grid;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 52% 48%;
    grid-template-areas:
        "e . f"
        "e d d"
        ". . .";
}
header nav{
    grid-area: d;
}
header :nth-child(2) ul{
    float: right;
}
header nav ul li{
    list-style-type: none;
}
header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 470px;
    padding-left: 0;
    padding-right: 20px;
}
header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Kreon', Arial, Verdana, sans-serif;
    font-size:14px;
    color: #646464;
}
header nav ul :nth-child(4) a{
    width:110px;
    margin-left: 13px;
    margin-right: 13px;
}
header nav ul :nth-child(1) a{
    margin-left: 20px;
}
nav > ul a:hover:not(.pageactive){
    color: #8c8c8c;
}
.pageactive{
    color: #4496a7;
}
/* Fin La navigation principale */

/* Les elements en haut à droite */
div.elementstopright{
    grid-area: f;
}
div.imgsocialicons{
    float: right;
    padding-right: 20px;
    padding-top: 8px;
}
div.searcharea{
    float: right;
}
form.formsearch{
    height: 25px;
}
input#inputsearch{
    outline: none;
    padding: 5px;
    padding-right: 30px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    width: 150px;
    padding-left: 10px;
    background-color: #F5F5F5;
}
input#inputsearch::placeholder{
    font-size: 12px;
    font-family:'Kreon', Arial, sans-serif;
    font-style: italic;
    color: #acacac;
}
input#inputsearch::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
}
input[type="submit"]{
    background: url("images/search_btn.png") center no-repeat;
    width: 30px;
    height: 26px;
    padding-left: 0;
    cursor:pointer;
    outline: none;
    border: none;
}
div.inputsubmit{
    position: relative;
    left: 120px;
    top: -26px;
}
/* Fin Les elements en haut à droite */

/*===============================================================================================================================================*/

/*SLIDER*/ /*inspired by Anna Blok : https://codepen.io/anna_blok/pen/eYYRbQY*/
.text-and-button h1, .text-and-button h2, .text-and-button h3, .text-and-button button
{
	margin-top : 0;
	text-transform : capitalize;
	font-family : 'Kreon', Arial, sans-serif;
}

#slider
{
	margin : 0 auto;
	width : 100%;
}

#slider input[type=radio]
{
	display : none;
}

#slider label
{
	cursor : pointer;
	text-decoration : none;
}

#slides
{
	padding : 0;
	position : relative;
	width : 100%;
	overflow : hidden;
	z-index : 1;
}

#slides .inner
{
	transition : margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width : 400%;
	height : 450px;
}

#slides .slide
{
	box-shadow : 0 -5px 2px #868585 inset;
	width : 25%;
	float : left;
	display : flex;
	height : 100%;
}

#slides .slide_1, .slide_2, .slide_3, .slide_4 /*light grey background*/
{
	background : #D7D7D7;
}

#slide1:checked ~ #slides .inner
{
	margin-left : 0;
}

#slide2:checked ~ #slides .inner
{
	margin-left : -100%;
}

#slide3:checked ~ #slides .inner
{
	margin-left : -200%;
}

#slide4:checked ~ #slides .inner
{
	margin-left : -300%;
}

.slide-content /*dark grey block, containing an excerpt from the article*/
{
	margin : 65px 5% 0 51.5%;
	padding : 40px 0 0 50px;
	height : 285px;
	align-items : center;
	background : #585858;
	color : white;
}
div.text-only
{
	overflow : auto;
	height : 247px;
}

.slide-content h2
{
	font-family: 'Kreon', Arial, sans-serif;
	padding-right : 40px;
	font-size : 35px;
	margin-bottom : 6px;
}

.slide-content p
{
	font-family : 'Droid Sans', Arial, Verdana, sans-serif;
	margin : 0;
	padding-right : 40px;
	font-size : 14px;
	line-height : 27.5px;
}

div.read-more /*contains the "read more" button*/
{
	position : relative;
}

button /*read more*/
{
	float : right;
	background : #2C2C2C;
	color : #D7D7D7;
	border : none;
	border-radius : 1px;
	cursor : pointer;
	padding : 10px 15px;
}

#controls /*arrows and slide counter combination*/
{
	margin : -200px 0 0 0;
	width : 100%;
	height : 65px;
	z-index : 3;
	position : relative;
}

#controls label /*arrows*/
{
	transition : opacity 0.2s ease-out;
	display : none;
	width : 40px;
	height : 40px;
	opacity : .6;
}

#controls label:hover /*while over arrows*/
{
	opacity : 1;
}

#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(4), #slide3:checked ~ #controls label:nth-last-child(3), #slide4:checked ~ #controls label:nth-last-child(2) /*left arrow*/
{
	background : url(images/left-arrow.png) no-repeat;
	float : left;
	margin : -30px 2px 0 0;
	display : block;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4), #slide4:checked ~ #controls label:nth-child(1) /*right arrow*/
{
	background : url(images/right-arrow.png) no-repeat;
	float : right;
	margin : -30px -2px 0 0;
	display : block;
}

#bullets /*slide counter*/
{
	margin : 150px 0 0;
	text-align : center;
}

#bullets label /*slides which are not active*/
{
	background : url(images/controller1.png);
	display : inline-block;
	width : 11px;
	height : 11px;
	border-radius : 100%;
	margin : 0;
}

#slide1:checked ~ #bullets label:nth-child(1), #slide2:checked ~ #bullets label:nth-child(2), #slide3:checked ~ #bullets label:nth-child(3), #slide4:checked ~ #bullets label:nth-child(4) /*matches the active slide*/
{
	background : url(images/controller2.png);
}
/*end of slider*/

/* Quote */

.quote h2, .quote h3{
    text-align: center;
    font-weight: normal;
}
.quote h3{
    color: silver;
}

/* Fin Quote */

/* Articles */

main h2, main h3{
    font-family:'Kreon',Arial,Verdana,sans-serif;
    font-weight: normal;
    margin: 2%;
}
li, p{
    font-family:'Droid Sans',Arial,Verdana,sans-serif;
}
.articles, .media{
    margin-left: 5%;
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.articles p{
    line-height: 18px;
    margin-right: 15%;
    font-size: 12px;
    color: #585858;
}
.articles h3{
    text-transform: capitalize;
}
.grey{
    margin: 0;
    padding: 0;
    background: #D7D7D7;
    width: 240px;
    height: 125px;
}
.icon{
    display: none;
    margin: -10000;
}
.grey:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}
.grey:hover .icon{
    display: block;
    margin-left: 43%;
    margin-top: -35.5%;
}
/* Fin Articles */

/* Bullet Point */

.media{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.bulletpoint{
    margin-top: 2%;
}
.bulletpoint li{
    margin-left: -11.5%;
    font-size: small;
    color: #585858;
    line-height: 25px;
}
/* Fin Bullet Point */

/* Multimedia */

.left{
    display: flex;
    margin-top: 4%;
    margin-left: -2.5%;
    float: left;
}
.together li{
    text-decoration: none;
}
.together{
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}
.image-1{
    background: url(images/more.png) #D7D7D7 center no-repeat;
}
.image-2{
    background: url(images/video-more.png) #D7D7D7 center no-repeat;
}
.multimedia{
    margin-right: 5%;
}
.multimedia-background {
    display: inline-flex;
    border: 1px solid #D7D7D7;
    background-color: #D7D7D7;
    margin: 1.75%;
    width: 45px;
    height: 45px;
}
.multimedia-background:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}
.right{
    display: flex;
    margin-top: -9.5%;
    margin-right: -2.5%;
    float: right;
}
.left:hover, .right:hover{
    cursor: pointer;
}
.infobulle {
    position: relative;
    cursor: help;
}
.infobulle:hover::after, .infobulle:focus::after {
    font-style: italic;
    color: #585858;
    font-size: 14px;
    content: attr(aria-label);
    background: white;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding: 30%;
    z-index: 3;
    position: absolute;
    width: 250%;
    top: -750%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
/* Fin Multimédia */

