html{
	background-image: url(images/background.png);
    background-color: #f4f4f4;
}
body{
    box-shadow: 0 0 2px #dbdbdb, 0 0 .1px #dbdbdb;
    background-color: white;
    margin: 3% 15%;
    max-height: 100%;
}
@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/droidsans_regular.woff') format('woff'),
         url('fonts/droidsans_blod.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreon';
    src: url('fonts/kreon_regular.woff') format('woff'),
         url('fonts/kreon_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
